:root {
  --green: #00c8aa;
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: #F2F2F2;
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: var(--veryLightGray);
}

h1:first-of-type {
  font-weight: var(--weight1);
  color: var(--green);
}

h1:last-of-type {
  color: var(--green);
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}
.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: var(--grayishBlue);
}

.box p {
  color: var(--grayishBlue);
}

.box {
  border-radius: 5px;
  box-shadow: 0 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  border-top: 3px solid var(--green);
  margin: 20px;
}

.edit {
  text-align: center;
  color: var(--green);
  border: 3px solid;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 3em;
  cursor: pointer;
}

@media (max-width: 450px) {
  .box {
    height: 200px;
  }
}
@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
}
h2 {
  color: var(--green);
  font-weight: var(--weight3);
}

@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-down {
    position: relative;
    top: 150px;
  }
  .box {
    width: 20%;
  }
  .header p {
    width: 30%;
  }
}
.popup {
  display: none;
  position: absolute;
  background: #F2F2F2;
  width: 100%;
  top: 12%;
}
.popup h1 {
  font-weight: var(--weight1);
}
.popup textarea {
  resize: none;
}

.popup-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.content {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

#content {
  height: 40vh;
}

/*# sourceMappingURL=template.css.map */
